html, body{
	font-family: "Ubuntu Mono";
}

.noteEntry{
	border: 1px solid #aaa;
	margin-top: -1px;
	max-height: 50px;
    overflow:auto;
    overflow-x:hidden;
    overflow-y:hidden;
}
.noteEntry p {padding: 0;margin: 0 !important;}
.noteTitle {
	font-size: 22px;
}

#regexSearchEnabled{
	transform: scale(1.5);
}